// header{
//   position: relative;

.header-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  > .navbar{
    height: 98%;
  }
}

.header-links-container{
  position: sticky;
  top: 39px;
  z-index: 12;
}

.add-top-header{
  top: 78px;
}

.no-toolbar-top-header{
  top: 0;
}

.region-nav-branding{
  z-index: 11;
  padding-top: 14px;
  padding-bottom: 14px;
  position: relative;
  background: rgba(255, 255, 255, .8);

  .branding-container{
    width: auto;
    height: auto;
    min-width: 60px;
    min-height: 60px;
  }

  .featuredlinks-container{
    .navbar-nav{
      @include adyacent-left(10px);

      a{
        @include rem-2(15, 17);
        display: inline-block;
        color: $white;
        padding: 12px 36px;
        background-color: $cta-dark;
        border: solid 4px $secondary;
        @include border-radius(26px);

        &:hover{
          background-color: $cta-dark-hover;
          border: solid 4px $secondary;
        }
      }
    }
  }
}

.menu-nav-container{
  position: relative;
  z-index: 10;

  .btn-menu-container{
    background: $primary;
    padding: 13px 10px 12px;

    button{
      padding: 0;
      border: none;

      &:focus{
        box-shadow: none;
      }

      &:hover{
        svg{
          path{
            fill: #ffe0c6;
          }
        }
      }
    }
  }

  .main-menu-container{
    @include adyacent-top(20px);
    background: $secondary;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;

    .btn-close-menu-container{
      padding: 10px;

      button{
        padding: 0;
        border: none;

        &:focus{
          box-shadow: none;
        }
      }
    }
  }

  .region-header{
    padding: 0 10px;

    .navbar-nav{
      background: rgba(255, 255, 255, .2);
      justify-content: center;
      padding: 10px;
      @include adyacent-left(25px);

      > .nav-item{
        &:last-child{
          display: none;
        }
      }

      .nav-item{
        .nav-link{
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 0;

          .svg-container{
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg{
              fill: $cta-dark;
            }
          }
          
          p{
            @include rem-2(14, 22);
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            color: $cta-dark;
          }
        }
      }
    }
  }

  .container-xl{
    padding: 0;
  }
  
  .region-nav-main{
    .nav-link{
      @include rem-2(16, 25);
      font-weight: 600;
      color: $cta-dark;
    }

    .dropdown-toggle{
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::after{
        border: none;
        margin: 0;
        width: 30px;
        height: 30px;
        background: $cta-dark;
        display: block;

        @include mask-image(url('../images/icons/add-material.svg'));
        @include mask-size(30px 30px);
        @include mask-repeat(no-repeat);
        @include mask-position(center center);
      }

      &:has(+ .show){
        &::after{
          @include mask-image(url('../images/icons/collapse.svg'));
        }
      }
    }

    .menu-level-0{
      > .nav-item{
        &:last-child{
          .menu-level-2{
            > .nav-item{
              .item-level-3{
                display: flex;
                padding: 15px;

                &::after{
                  content: none;
                }
              }
              
              // *{
              //   display: none;
              // }
            }
          }
        }
      }
    }

    .item-level-0{
      padding: 13px 15px;
      border-top: 1px solid rgba(0, 0, 0, .2);
    }
    .item-level-3{
      padding: 13px 35px;
      padding-right: 15px;
      border-top: 1px solid rgba(0, 0, 0, .2);
    }

    .item-level-4{
      padding: 13px 45px;
      background: $primary;
      border-top: 1px solid rgba(255, 255, 255, .2);
      color: #ffc799;
    }

    .dropdown-menu{
      background: none;
      padding: 0;
      border: none;

      ul{
        padding: 0;
        list-style: none;
      }
    }
  }
}

@include media-breakpoint-up(md){
  .region-nav-branding{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .menu-nav-container{
    .region-header{
      .navbar-nav{
        @include adyacent-left(125px);
      }
    }
  }
}

@include media-breakpoint-up(lg){
  .region-header{
    .navbar-nav{
      padding-top: 3px;
      justify-content: end;
      @include adyacent-left(20px);

      .nav-item{
        padding: 3px;
        @include rem-2(16, 24);
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;

        .nav-link{
          @include adyacent-left(4px);
          display: flex;
          align-items: center;
          padding: 0;

          .svg-container{
            width: 16px;
            height: 16px;

            svg{
              vertical-align: top;
              height: 100%;
              width: 100%;
            }
          }
        }
        
        .dropdown-toggle{
          &::after{
            border: 0;
            width: 20px;
            height: 20px;
            background: #000;
            margin: 0;
            @include mask-image(url('../images/icons/keyboard-arrow-down-material.svg'));
            @include mask-size(20px 20px);
            @include mask-repeat(no-repeat);
            @include mask-position(center center);
          }
        }

        .dropdown-menu{
          border: 0;
          border-radius: 0;
          margin-top: -2px;
        }

        .dropdown-menu.show{
          background: $secondary;
          padding: 15px;
          @include border-radius(.25rem);
          overflow: hidden;

          ul{
            padding: 0;
            list-style: none;
            @include adyacent-top(10px);

            .nav-item{
              line-height: 1.56;
              color: $cta-dark;
              @include rem-2(16, 25);
              padding: 0;
            }
          }
        }
      }
    }
  }

  .region-nav-branding{
    .featuredlinks-container{
      .nav-link{
        padding: 12px 36px;
      }
    }
  }

  .menu-nav-container{
    position: sticky;
    top: 72px;
    z-index: 11;

    .main-menu-container{
      padding: 0;
      position: relative;

      .menu-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        > a{
          .scroll-image{
            display: block;
            opacity: 0;
            width: 40px;
            height: 40px;
            transition: opacity .3s;

            *{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .scroll-image.show{
            opacity: 1;
          }
        }
      }
    }

    background: $primary;

    .btn-menu-container{
      padding: 10px;

      button{
        padding: 0;
        border: none;

        &:focus{
          box-shadow: none;
        }
      }
    }

    #navbarSupportedContent{
      display: block;
    }

    .container-xl{
      padding-left: 12px;
      padding-right: 12px;
    }

    .region-nav-main{
      margin: 0;
      background: $primary;

      .nav-link{
        font-size: 16px;
        color: $white;
        padding: 0;
      }

      .dropdown-toggle{
        &::after{
          width: 20px;
          height: 20px;
          background: $white;
          margin-left: 5px;

          @include mask-image(url('../images/icons/keyboard-arrow-down-material.svg'));
          @include mask-size(20px 20px);
        }

        &:has(+ .show){
          &::after{
            @include mask-image(url('../images/icons/keyboard-arrow-up-material.svg'));
          }
        }
      }

      .container-navbar{
        padding-left: 12px;
        padding-right: 12px;

        .menu-level-0{
          display: flex;
          justify-content: flex-end;

          .nav-item{
            position: static;
            border: 0;
            transition: background .3s;

            &:hover{
              background: $secondary;
              color: $primary;

              &::after{
                background: $primary;
              }
            }

            &:focus{
              background: $secondary;
              color: $primary;

              &::after{
                background: $primary;
              }
            }
          }

          > .nav-item{
            &:last-child{
              display: none;
            }
          }
        }
      }

      .wrapper-level-1{
        margin: 0;
        background: $secondary;
        left: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 100vw;
        border-radius: 0;

        .menu-level-1{
          display: flex;
          justify-content: center;
          @include adyacent-left(30px);

          .menu-level-2{
            @include adyacent-top(20px);

            > .nav-item{
              @include adyacent-top(10px);

              .menu-level-3{
                @include adyacent-top(10px);
              }
            }
          }

          .dropdown-toggle{
            cursor: auto;
            &::after{
              content: none;
            }
          }

          .dropdown-menu{
            display: block;
            position: static;
            margin: 0;
          }

          .nav-item{
            color: $cta-dark;
            line-height: 25px;
          }

          .item-level-3{
            color: $dark;
            @include rem(18);
            font-family: proxima-nova-ltsemibold;
          }

          * {
            background: none;
            border: none;
          }
        }
      }

      .item-level-0{
        padding: 15px;
      }
    }
  }

  .add-top-menu{
    top: 111px;
  }

  .no-toolbar-top-menu{
    top: 32px;
  }
}