.footer-bottom{
  background-color: $primary;

  .footer-bottom-row{
    padding-top: 17px;
    padding-bottom: 17px;
    border-top: 1px solid #d8d8d8;

    .footer-bottom-content{
      text-align: center;
      @include adyacent-top(13px);

      .copy-hccd{
        p{
          color: $white;
          @include rem-2(14, 22);
        }
      }

      .footer-links{
        .bottom-nav{
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding: 0px;
          margin-bottom: 0;
          @include adyacent-left(33px);

          .bottom-li{
            list-style: none;

            .bottom-link{
              @include rem-2(14, 25);
              color: #ffc799;
              text-decoration: none;
      
              &:hover{
                color: #ffe0c6;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xxl){
  .footer-bottom-row{
    padding-bottom: 15px;
  }
}