.block-local-tasks-block{
  .nav-tabs{
    border: 0;

    .nav-item{
      @include rem(17);
      font-weight: 900;
      font-family: proxima-nova-ltsemibold;
      letter-spacing: 1.01px;

      .nav-link{
        background: none;
        padding: 17px;
        color: #efefef;
        border: 0;
        border-radius: 0;
        border-left: 1px solid rgba(255, 255, 255, .1);
        border-right: 1px solid rgba(0, 0, 0, .1);

        &:hover{
          background: $cta-dark-hover;
        }
      }
    }
  }
}