.login-form{
  form{
    @include adyacent-top(30px);
    background: $primary;
    max-width: 375px;
    padding: 20px;
    border-radius: 12px;
    overflow: hidden;
    margin: 0 auto;

    .form-item{
      margin-bottom: 0;

      .description{
        color: $white;
        @include rem-2(12, 14);
      }

      .js-form-required{
        color: $white;

        &::after{
          margin: 0;
        }
      }

      .form-control{
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0;
        background: none;
        color: $white;

        &:focus{
          box-shadow: none;
        }
      }

      .input-container{
        &:has(#edit-name){
          padding: 4px 20px;
          border-bottom: 1px solid $white;
          position: relative;

          &::before{
            content: '';
            width: 12px;
            height: 12px;
            display: block;
            background: $white;
            position: absolute;
            left: 4px;
            top: 50%;
            transform: translateY(-50%);
            @include mask-image(url('../images/icons/user-regular.svg'));
            @include mask-size(12px 12px);
            @include mask-repeat(no-repeat);
            @include mask-position(center center);
          }
        }

        &:has(#edit-mail){
          padding: 4px 20px;
          border-bottom: 1px solid $white;
          position: relative;

          &::before{
            content: '';
            width: 12px;
            height: 12px;
            display: block;
            background: $white;
            position: absolute;
            left: 4px;
            top: 50%;
            transform: translateY(-50%);
            @include mask-image(url('../images/icons/envelope-solid.svg'));
            @include mask-size(12px 12px);
            @include mask-repeat(no-repeat);
            @include mask-position(center center);
          }
        }

        &:has(#edit-pass){
          padding: 4px 20px;
          border-bottom: 1px solid $white;
          position: relative;

          &::before{
            content: '';
            width: 12px;
            height: 12px;
            display: block;
            background: $white;
            position: absolute;
            left: 4px;
            top: 50%;
            transform: translateY(-50%);
            @include mask-image(url('../images/icons/lock-solid.svg'));
            @include mask-size(12px 12px);
            @include mask-repeat(no-repeat);
            @include mask-position(center center);
          }
        }
      }
    }

    #edit-actions{
      display: flex;
      justify-content: center;
    }

    .js-form-wrapper{
      margin-bottom: 0;
    }

    > p{
      margin: 0;
      color: $white;
      @include rem-2(12, 14);
    }

    .details-wrapper{
      .description{
        color: $dark;
        margin: 0;
      }
    }
  }
}