/*
 * Theme Row
 *
*/
  .bg-neutral-light{
    color:      var(--bs-black);
    background: var(--bs-white);
  }

  .bg-neutral-medium{
    color:      var(--bs-black);
    background: var(--bs-gray-100);
  }

  .bg-neutral-dark{
    color:      var(--bs-black);
    background: var(--bs-gray-200);
  }

  .bg-dark-1{
    color: var(--bs-white);
    background: var(--bs-primary);
  }

  .bg-light-1{
    color: var(--bs-black);
    background: var(--bs-secondary);
  }

  .bg-light-2{
    color: var(--bs-black);
    background: var(--bs-tertiary);
  }
/**/

/*
 * Limiter Row
 */
  .limiter-none{
    padding-left:  0px;
    padding-right: 0px;
  }

  .limiter-small{
    max-width: 910px;
    margin-left: auto;
    margin-right: auto;
  }

  .limiter-medium{
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
  }

  .limiter-large{
    max-width: 1290px;
    margin-left: auto;
    margin-right: auto;
  }
/**/

/*
 * Padding Top Row
 */
 .padding-top-none{
    padding-top: 0px;
 }

 .padding-top-medium{
    padding-top: 30px;
 }

 .padding-top-large {
  padding-top: 70px;
 }
/**/

/*
 * Padding Bottom Row
 */
 .padding-bottom-none{
    padding-bottom: 0px;
  }

  .padding-bottom-medium{
    padding-bottom: 30px;
  }

  .padding-bottom-large {
    padding-bottom: 70px;
  }
/**/

.text-neutral-light{
  color: var(--bs-white);
}

.text-neutral-medium{
  color: var(--bs-gray-100);
}

.text-neutral-dark{
  color: var(--bs-gray-200);
}

.text-dark-1{
  color: var(--bs-primary);
}

.text-light-1{
  color: var(--bs-secondary);
}

.text-light-2{
  color: var(--bs-tertiary);
}

.title-row{
  font-family: proxima-nova-bold;
  @include rem-2(44, 37);
  transform: translateY(5px);
}

/*
 * Container fluid padding
 */
 .container-fluid.global{
  padding-left: 15px;
  padding-right: 15px;
 }
/**/

@include media-breakpoint-up(md){
  .title-row{
    @include rem-2(52, 40);
    transform: translateY(4px);
    letter-spacing: .4px;
  }

  /*
  * Container fluid padding
  */
  .container-fluid.global{
    padding-left: 40px;
    padding-right: 40px;
  }
  /**/
}

@include media-breakpoint-up(lg){
  .title-row{
    @include rem-2(60, 47);
    transform: translateY(6px);
  }

  /*
  * Container fluid padding
  */
  .container-fluid.global{
    padding-left: 90px;
    padding-right: 90px;
  }
  /**/
}