.event-college-block{
  .event-college-row{
    display: flex;
    flex-wrap: wrap;
    @include adyacent-top(50px);

    .event-college-col{
      padding: 0;

      .table{
        margin-bottom: 0;

        .field__items{
          display: flex;
          flex-wrap: wrap; 
          @include adyacent-top(20px);

          .field__item{
            width: 100%;
          }
        }

        .event-table{
          display: block;
          width: 100%;
          box-shadow: 1px 1px 8px -4px rgba(0,0,0,.75);
  
          .event-title{
            display: block;
            padding: 15px 20px;
  
            .event-title-flex{
              @include adyacent-left(5px);
              display: flex;
              align-items: center;
  
              .icon{
                width: 20px;
                height: 20px;
                @include mask-image(url('../images/icons/date-range-material.svg'));
                @include mask-size(20px 20px);
                @include mask-repeat(no-repeat);
                @include mask-position(center center);
              }
    
              .title{
                display: inline-block;
                @include rem-2(22, 26);
                // position: relative;
                // top: -5px;
              }
            }
          }
  
          .event-body{
            .table-col{
              display: inline-flex;
              align-items: center;
              width: 100%;
              padding: 12px 20px;
              min-height: 80px;
              // @include adyacent-left(13px);
              
              .table-date{
                width: 20%;

                .date{
                  font-family: proxima-nova-bold;
                  @include rem-2(15, 18);
      
                  .year{
                    display: block;
                    @include rem-2(18, 22);
                  }
                }
              }

              .table-text{
                width: 80%;
                @include rem-2(16, 19)
              }
            }
          }
        }
      }

      .cta{
        margin-top: 30px;
        text-align: right;
      }
    }

    .block-college-col{
      padding: 0;

      .block-college-content{
        @include adyacent-top(30px);

        .block-college-title{
          h2{
            @include rem-2(40, 37);
            font-family: proxima-nova-bold;
          }
        }
  
        .block-college-card{
          position: relative;
          padding-bottom: 96px;

          .card-image{
            min-height: 360px;
            height: 85vw;
            border-radius: 5px;
            overflow: hidden;

            img{
              width: 100%;
              height: 100%;
            }
          }
  
          .card-text-button{
            width: 100%;
            position: absolute;
            bottom: 0;

            .text{
              @include rem-2(24, 28);
              opacity: 0.9;
              padding: 30px;
              font-family: proxima-nova-bold;
            }
  
            .button{
              text-align: center;
              
              a{
                display: block;
                padding: 11px 29px;
                text-decoration: none;
                width: 100%;
                font-size: 19px;
                color: $white;
                background-color: $cta-dark;

                &:hover{
                  background-color: $cta-dark-hover;
                }
              }
            }
          }
        }
      }
    }
  }

  table, thead, tbody, tr, td{
    display: inline-block;
    padding: 0;
  }

  .table > :not(caption) > * > * {
    padding: 0;
  }
}

@include media-breakpoint-up(md){
  .event-college-block{
    .event-college-row{
      .event-college-col{
        .table{
          .field__items{
            margin: 0 -15px;
            .field__item{
              width: 50%;
              padding: 0px 15px;

              &:nth-child(2){
                margin-top: 0;
              }
            }
          }
        }
      }

      .block-college-col{
        .block-college-content{
          .block-college-title{
            h2{
              @include rem-2(42, 38);
              width: 90%;
            }
          }

          .block-college-card{
            padding-right: 40px;
            padding-bottom: 80px;

            .card-image{
              height: 68vw;
            }

            .card-text-button{
              max-width: 360px;
              right: 0;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl){
  .event-college-block{
    .event-college-row{
      flex-wrap: nowrap;
      @include adyacent-left(15px);

      .event-college-col{
        width: 40%;
        // padding: 0px 15px;

        .table{
          .field__items{
            margin: auto;
            .field__item{
              padding: 0;
              width: 100%;

              &:nth-child(2){
                margin-top: 20px;
              }
            }
          }
        }
      }

      .block-college-col{
        width: 60%;
        // padding: 0px 15px;
        padding-left: 15px;
        margin-top: 0;
        border-left: 2px solid;
  
        .block-college-content{
          .block-college-title{
            h2{
              @include rem-2(50, 46);
              width: 100%;
            }
          }
  
          .block-college-card{
            padding-right: 0;
            padding-bottom: 100px;

            .card-image{
              height: 38vw;
              max-height: 480px;
            }

            .card-text-button{
              right: -30px;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xxl){
  .event-college-block{
    .event-college-row{
      @include adyacent-left(40px);

      .event-college-col{
        width: 38%;
        // padding: 0px 40px;
      }

      .block-college-col{
        width: 62%;
        padding: 0px 40px;

        .block-college-content{
          .block-college-card{
            .card-image{
              max-height: 520px;
            }
          }
        }
      }
    }
  }
}


/*
 * Themes
 */

.bg-neutral-light, .bg-neutral-medium, .bg-neutral-dark{
  .event-college-block{
    .event-college-row{
      .event-college-col{
        .table{
          .event-table{
            .event-title{
              background: $tertiary;

              .event-title-flex{
                .icon{
                  background: $dark;
                }

                .title{
                  color: $black;
                }
              }
            }

            .event-body{
              .table-col{
                background: $white;

                &:nth-child(2){
                  background: #efefef;
                }
              }
            }
          }
        }
      }

      .block-college-col{
        border-color: #d3d3d3;

        .block-college-title{
          h2{
            color: $primary;
          }
        }

        .block-college-card{
          .text{
            color: $black;
            background-color: $tertiary;
          }
        }
      }
    }
  }
}

.bg-dark-1{
  .event-college-block{
    .event-college-row{
      .event-college-col{
        .table{
          .event-table{
            .event-title{
              background: $secondary;

              .event-title-flex{
                .icon{
                  background: $dark;
                }

                .title{
                  color: $dark;
                }
              }
            }

            .event-body{
              .table-col{
                background: $white;

                &:nth-child(2){
                  background: #e1eaf0;
                }
              }
            }
          }
        }
      }

      .block-college-col{
        border-color: $white;

        .block-college-title{
          h2{
            color: $white;
          }
        }

        .block-college-card{
          .text{
            color: $black;
            background-color: $secondary;
          }
        }
      }
    }
  }
}

.bg-light-1, .bg-light-2{
  .event-college-block{
    .event-college-row{
      .event-college-col{
        .table{
          .event-table{
            .event-title{
              background: $primary;

              .event-title-flex{
                .icon{
                  background: $white;
                }

                .title{
                  color: $white;
                }
              }
            }

            .event-body{
              .table-col{
                background: $white;

                &:nth-child(2){
                  background: #e1eaf0;
                }
              }
            }
          }
        }
      }

      .block-college-col{
        border-color: rgba(211, 211, 211, 0.9);

        .block-college-title{
          h2{
            color: $primary;
          }
        }

        .block-college-card{
          .text{
            color: $white;
            background-color: $primary;
          }
        }
      }
    }
  }
}