.promoted-content-block{
  .promoted-content-row{
    .column-1{
      .title-promoted-content-block{
        width: 92%;
  
        h2{
          @include rem-2(32, 34);
          font-family: proxima-nova-bold;
        }
      }
  
      .content-text{
        margin-top: 20px;
        @include adyacent-top(10px)
      }
    }
  
    .column-2{
      margin-top: 40px;
  
      .column-2-content{
        .img-canvas{
          padding-bottom: 120px;
          position: relative;
    
          .field-bck-img{
            height: 72vw;
  
            img{
              height: 100%;
              width: 100%;
            }
          }
          
          .field-off-cnvs{
            width: 100%;
            position: absolute;
            opacity: 0.9;
            bottom: 50px;
            right: 0px;
            
            p{
              padding: 30px;
              @include rem-2(18, 21);
              font-family: proxima-nova-bold;
              line-height: normal;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md){
  .promoted-content-block{
    .promoted-content-row{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;

      .column-1{
        padding: 0 15px;
        width: 380px;
  
        .title-promoted-content-block{
          h2{
            @include rem-2(36, 38);
          }
        }
      }
    
      .column-2{
        padding: 0 15px;
        margin-top: 0px;
        padding-bottom: 0px;
  
        .column-2-content{
          padding: 0px;
  
          .img-canvas{
            padding-right: 10px;
    
            .field-bck-img{
              height: 55vw;
            }

            .field-off-cnvs{
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg){
  .promoted-content-block{
    .promoted-content-row{
      .column-1{
        width: 370px;
  
        .title-promoted-content-block{
          h2{
            @include rem-2(44, 46);
          } 
        }
      }
  
      .column-2{
        .column-2-content{
          .img-canvas{
            .field-bck-img{
              height: 39vw;
            }
    
            .field-off-cnvs{
              max-width: 375px;
              padding: 0px;
              bottom: 14.5%;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl){
  .promoted-content-block{
    .promoted-content-row{
      .column-1{
        width: 399px;

        .title-promoted-content-block{
          h2{
            @include rem-2(44, 46);
          }   
        }
      }
  
      .column-2{
        .column-2-content{
          .img-canvas{
            .field-bck-img{
              height: 41vw;
              max-height: 550px;
            }
  
            .field-off-cnvs{
              max-width: 377px;
              // bottom: 214.5%;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xxl){
  .promoted-content-block{
    .promoted-content-row{
      .column-1{
        width: 379px;
      }
  
      .column-2{
        .column-2-content{
          .img-canvas{
            .field-bck-img{
              max-height: 460px;
            }
  
            .field-off-cnvs{
              max-width: 378px;
              bottom: 15%;
            }
          }
        }
      }
    }
  }
}


/*
 * Themes 
 */

.bg-neutral-light, .bg-neutral-medium, .bg-neutral-dark{
  .promoted-content-block{
    .column-1{
      .title-promoted-content-block{
        border-bottom: 3px solid $tertiary;

        h2{
          color: $primary;
        }
      }

      .content-text{
        p{
          color: $black;
        }
      }
    }

    .column-2{
      .column-2-content{
        .img-canvas{
          .field-off-cnvs{
            p{
              color: $black;
              background-color: $tertiary;
            }
          }
        }
      }
    }
  }
}

.bg-dark-1{
  .promoted-content-block{
    .column-1{
      .title-promoted-content-block{
        border-bottom: 3px solid $tertiary;

        h2{
          color: $white;
        }
      }

      .content-text{
        p{
          color: $white;

          .link-arrow{
            color: $tertiary;

            &::after{
              background: $tertiary;
            }
          
            &:hover{
              color: #ffe0c6;
          
              &::after{
                background: #ffe0c6;
              }
            }
          }
        }
      }
    }

    .column-2{
      .column-2-content{
        .img-canvas{
          .field-off-cnvs{
            p{
              color: $black;
              background-color: $secondary;
            }
          }
        }
      }
    }
  }
}

.bg-light-1, .bg-light-2{
  .promoted-content-block{
    .column-1{
      .title-promoted-content-block{
        border-bottom: 3px solid $cta-dark;

        h2{
          color: $primary;
        }
      }

      .content-text{
        p{
          color: $black;
        }
      }
    }

    .column-2{
      .column-2-content{
        .img-canvas{
          .field-off-cnvs{
            p{
              color: $white;
              background-color: $primary;
            }
          }
        }
      }
    }
  }
}