.paragraph--type--gallery-card-block{
  .field--name-field-gall-crd-bck-itm{
    @include adyacent-top(30px);

    > .field__item{
      width: 100%;

      .card{
        background: $primary;

        .img-fluid{
          height: 100%;
          width: 100%;
        }

        .card-img{
          overflow: hidden;
          border-radius: 0 0 25px 25px;
          height: 36vw;
        }
        
        .card-body{
          padding: 31px 10px 40px;
          @include adyacent-left(12px);

          .icon-body{
            min-width: 58px;
            height: 55px;
            overflow: hidden;
          }

          .content-body{
            margin-right: 55px;
            @include adyacent-top(2px);
            color: $white;

            .title-body{
              @include rem-2(18, 20);
              font-weight: 600;
            }
          }

          .cta-body{
            margin: 0;
            background: #ffc799;
            border-radius: 7px 0 0 0;
            
            .arrow-container{
              padding: 20px;
              height: 55px;
              width: 57px;
              background: $cta-dark-hover;
              @include mask-image(url('../images/icons/icon-arrow-gallery-cards.svg'));
              @include mask-size(35px 35px);
              @include mask-repeat(no-repeat);
              @include mask-position(center center);
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md){
  .paragraph--type--gallery-card-block{
    .field--name-field-gall-crd-bck-itm{
      display: flex;
      flex-wrap: wrap;
      margin-left: -15px;
      margin-right: -15px;

      > .field__item{
        width: 50%;

        .paragraph--type--gallery-card-item{
          padding-left: 15px;
          padding-right: 15px;

          .card-img{
            height: 19vw;
          }

          .card-body{
            @include adyacent-left(10px);
          }
        }
      }

      :nth-child(2){
        margin: 0;
      }
    }
  }
}

@include media-breakpoint-up(lg){
  .paragraph--type--gallery-card-block{
    .field--name-field-gall-crd-bck-itm{
      > .field__item{
        width: 33.33%;

        .paragraph--type--gallery-card-item{
          .card-img{
            height: 13vw;
          }

          .card-body{
            padding: 20px 9px 48px;

            .content-body{
              @include adyacent-top(8px);

              p{
                &:last-child{
                  @include rem-2(16, 18);
                }
              }
            }
          }
        }
      }

      :nth-child(3){
        margin: 0;
      }
    }
  }
}

@include media-breakpoint-up(xl){
  .paragraph--type--gallery-card-block{
    .field--name-field-gall-crd-bck-itm{
      > .field__item{
        .paragraph--type--gallery-card-item{
          .card-img{
            height: 138px;
          }
        }
      }
    }
  }
}

/*
 * Themes
 */
.bg-dark-1{
  .paragraph--type--gallery-card-block{
    .field--name-field-gall-crd-bck-itm{
      > .field__item{
        .card{
          background: $white;

          .card-body{
            .content-body{
              color: $dark;
            }

            .cta-body{
              background: $cta-dark;
              
              .arrow-container{
                background: $white;
              }
            }
          }
        }
      }
    }
  }
}
