.paragraph--type--three-cards-block{
  @include adyacent-top(40px);

  h2{
    color: $primary;
    text-align: center;
    font-family: proxima-nova-bold;
  }

  .field--name-field-three-crds-bck-itm{
    .field__items{
      @include adyacent-top(30px);
      margin: 0 -15px;
      justify-content: center;

      > *{
        height: auto;
        padding: 0 15px;

        .card-link{
          text-decoration: none;

          .card-container{
            background: $cta-dark;
            border-radius: 3px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px;
            @include adyacent-top(10px);
            height: 100%;
            
            .image-card{
              width: 110px;
              height: 110px;
              border-radius: 50%;
              overflow: hidden;
              background: $tertiary;
            }

            h3{
              @include rem-2(22, 26);
              display: inline-block;
              color: $white;
              max-width: 175px;
              min-height: 52px;
              text-align: center;
            }

            &:hover{
              background: $cta-dark-hover;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(md){
  .paragraph--type--three-cards-block{
    .field--name-field-three-crds-bck-itm{
      .field__items{
        display: flex;

        > *{
          width: 33.33%;
          margin: 0;
          max-width: 300px;

          .card-container{
            min-height: 257px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg){
  .paragraph--type--three-cards-block{
    .field--name-field-three-crds-bck-itm{
      .field__items{
        > *{
          .card-container{
            min-height: 232px;
          }
        }
      }
    }
  }
}

/*
 * Themes
 */
.bg-dark-1{
  .paragraph--type--three-cards-block{
    h2{
      color: $white;
    }
  }
}

.bg-light-1, .bg-light-2{
  .paragraph--type--three-cards-block{
    h2{
      color: $dark;
    }
  }
}