.paragraph--type--three-column-cta-block{
  @include adyacent-top(40px);

  h2{
    color: $primary;
    text-align: center;
    font-family: proxima-nova-bold;
    letter-spacing: 1.2px;
  }

  .field__items{
    @include adyacent-top(30px);

    .field__item{
      .card-container{
        @include adyacent-top(18px);
        text-align: center;

        .image-card{
          width: 215px;
          height: 215px;
          border-radius: 50%;
          overflow: hidden;
          display: inline-block;
        }

        .body-card{
          @include adyacent-top(10px);

          h3{
            @include rem-2(22, 26);
            font-weight: bold;
          }

          p{
            @include rem-2(16, 25);
          }
        }

        > * + .cta-card{
          margin-top: 30px;
        }
      }
    }
  }
}

@include media-breakpoint-up(md){
  .paragraph--type--three-column-cta-block{
    h2{
      @include rem-2(36, 38);
      letter-spacing: normal;
    }

    .field__items{
      display: flex;
      margin: 0 -15px;

      .field__item{
        width: 33.33%;
        padding: 0 15px;
        margin: 0;

        .card-container{
          @include adyacent-top(9px);

          .body-card{
            h3{
              width: 99%;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg){
  .paragraph--type--three-column-cta-block{
    h2{
      @include rem-2(44, 45);
    }

    .field__items{
      .field__item{
        .card-container{
          .image-card{
            width: 225px;
            height: 225px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl){
  .paragraph--type--three-column-cta-block{
    .field__items{
      .field__item{
        .card-container{
          @include adyacent-top(13px);
        }
      }
    }
  }
}

/*
 * Themes
 */

.bg-dark-1{
  .paragraph--type--three-column-cta-block{
    h2{
      color: $white;
    }
  }
}