.quote-block{
  @include adyacent-top(20px);

  .quote-block-title{
    h2{
      @include rem-2(32, 34);
      text-align: center;
      font-family: proxima-nova-bold;
    }
  }

  .quote-block-items{
    .quote-block-card{
      border-radius: 10px;
      overflow: hidden;

      .quote-block-card-title{
        padding: 15px 30px;

        h3{
          @include rem-2(22, 24);
          text-align: center;
          font-family: proxima-nova-ltsemibold;
        }
      }

      .quote-block-card-row{
        padding: 30px 30px 55px;
        @include adyacent-top(54px);

        .quote-block-card-col1{
          .quote-block-card-bio{
            .quote-block-card-bio-img{
              width: 207px;
              height: 207px;
              margin: 0 auto;
              overflow: hidden;
              border-radius: 50%;
            }

            .quote-block-card-bio-info{
              margin-top: 17px;
              text-align: center;

              .quote-block-card-bio-title{
                h4{
                  @include rem-2(22, 26);
                }
              }
    
              .quote-block-card-bio-subtitle{
                margin-top: 10px;

                p{
                  @include rem-2(18, 21);
                  font-family: proxima-nova-ltsemibold;
                }
              }
    
              .quote-block-card-bio-text{
                margin-top: 5px;

                p{
                  @include rem-2(16, 25);
                }
              }
            }
          }
        }

        .quote-block-card-col2{
          @include adyacent-top(20px);
          
          .quote-block-card-col2-content{
            position: relative;

            &::before, &::after{
              content: "";
              display: block;
              position: absolute;
              height: 110px;
              width: 110px;
              background: $white; ////////////////////
              @include mask-image(url('../images/icons/icon-quote.svg'));
              @include mask-size(110px 110px);
              @include mask-repeat(no-repeat);
              @include mask-position(center center);
            }
  
            &::before{
              top: -55px;
              left: -30px;
            }
  
            &::after{
              right: -30px;
              bottom: -56px;
            }
          }

          .quote-block-card-subtitle{
            p{
              @include rem-2(22, 24);
            }
          }

          .quote-block-card-content{
            margin-top: 22px;

            p{
              @include rem-2(16, 25);
            }
          }
        }
      }
    }
  }
}

.field--name-field-qte-bck-itm{
  .field__items{
    @include adyacent-top(40px);
  }
}

@include media-breakpoint-up(md){
  .quote-block{
    .quote-block-title{
      h2{
       @include rem-2(36, 38); 
      }
    }

    .quote-block-items{
      .quote-block-card{
        .quote-block-card-title{
          h3{
            @include rem-2(24, 26); 
          }
        }

        .quote-block-card-text{
          margin-top: 4px;
        }

        .quote-block-card-row{
          display: flex;
          flex-wrap: wrap;
          padding: 31px 55px 56px 33px;

          > * + *{
            padding-top: 55px;
            margin-left: 57px;
          }

          .quote-block-card-col2{
            margin-top: 0;

            .quote-block-card-col2-content{
              &::before{
                top: -55px;
                left: -55px;
              }

              &::after{
                right: -55px;
                bottom: -56px;
              }

              .quote-block-card-content{
                margin-top: 29px;
  
                .quote-block-card-subtitle{
                  p{
                    @include rem-2(24, 26);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl){
  .quote-block{
    .quote-block-title{
      h2{
        @include rem-2(44, 46);
      }
    }

    .quote-block-items{
      .quote-block-card{
        .quote-block-card-title{
          h3{
            @include rem-2(28, 30);
          }
        }

        .quote-block-card-row{
          padding: 31px 55px 48px 33px;

          > * + *{
            padding-top: 54px;
          }

          .quote-block-card-col1{
            .quote-block-card-bio{
              .quote-block-card-bio-info{
                .quote-block-card-bio-subtitle{
                  margin-top: 12px;
                }
              }
            }
          }

          .quote-block-card-col2{
            .quote-block-card-col2-content{
              &::after{
                right: -55px;
                bottom: -49px;
              }

              .quote-block-card-subtitle{
                p{
                  @include rem-2(28, 30);
                }
              }

              .quote-block-card-content{
                margin-top: 22px;
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xxl){
  .quote-block{
    .quote-block-items{
      .quote-block-card{
        .quote-block-card-row{
          padding: 31px 54px 39px 33px;

          .quote-block-card-col2{
            .quote-block-card-col2-content{
              &::after{
                right: -52px;
                bottom: -24px;
              }
            }
          }
        }
      }
    }
  }
}

/*
 * Themes
 */

.bg-neutral-light, .bg-neutral-medium, .bg-neutral-dark{
  .quote-block{
    .quote-block-title{
      color: $primary;
    }

    .quote-block-card{
      .quote-block-card-title{
        background-color: $tertiary;
        color: $black;
      }

      .quote-block-card-row{
        background-color: $primary;
        color: $white;

        .quote-block-card-col1{
          .quote-block-card-bio-img{
            border: 4px solid $secondary;
          }
        }

        .quote-block-card-col2{
          .quote-block-card-col2-content{
            &::before, &::after{
              background: $white;
            }
          }
        }
      }
    }
  }
}

.bg-dark-1{
  .quote-block{
    .quote-block-title{
      color: $white;
    }

    .quote-block-card{
      .quote-block-card-title{
        background-color: $secondary;
        color: $black;
      }

      .quote-block-card-row{
        background-color: $white;
        color: $black;

        .quote-block-card-col1{
          .quote-block-card-bio-img{
            border: 4px solid $primary;
          }
        }

        .quote-block-card-col2{
          .quote-block-card-col2-content{
            &::before, &::after{
              background: $gray-900;
            }
          }
        }
      }
    }
  }
}

.bg-light-1, .bg-light-2{
  .quote-block{
    .quote-block-title{
      color: $primary;
    }

    .quote-block-card{
      .quote-block-card-title{
        background-color: $primary;
        color: $white;
      }

      .quote-block-card-row{
        background-color: $white;
        color: $black;

        .quote-block-card-col1{
          .quote-block-card-bio-img{
            border: 4px solid $primary;
          }
        }

        .quote-block-card-col2{
          .quote-block-card-col2-content{
            &::before, &::after{
              background: $gray-900;
            }
          }
        }
      }
    }
  }
}