.paragraph--type--iframe-block{
  @include adyacent-top(20px);

  .iframe-header{
    @include adyacent-top(20px);
    text-align: center;

    h2{
      color: $primary;
      @include rem-2(32, 34);
      font-family: proxima-nova-bold;
    }
  }
}

@include media-breakpoint-up(md){
  .paragraph--type--iframe-block{
    .iframe-header{
      h2{
        @include rem-2(36, 38);
      }
    }
  }
}

@include media-breakpoint-up(lg){
  .paragraph--type--iframe-block{
    .iframe-header{
      h2{
        @include rem-2(44, 46);
      }
    }
  }
}

/*
 * Themes
 */
.bg-dark-1{
  .paragraph--type--iframe-block{
    .iframe-header{
      color: $white;

      h2{
        color: $white;
      }
    }
  }
}